<h1>
  プロフィール
</h1>
<h2>
  <%= @user.name %>
</h2>

<p>
  <img src="<%="/user_images/#{@user.image_name}" %>">
</p>

<p>
  <%= @user.sex %>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  ID:<%= @user.userid %>
</p>

<% if @current_user.id == params[:id].to_i %>
  <p>
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
  </p>
<% else %>
  <p>フレンド申請（のちのちボタンにします）</p>
<% end %>
