<h1>
  プロフィール
</h1>
<h2>
  <%= @user.name %>
</h2>

<p>
  <img src="<%="/user_images/#{@user.image_name}" %>">
</p>

<p>
  <%= @user.sex %>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  ID:<%= @user.userid %>
</p>

<% if current_user.id == params[:id].to_i %>
  <p>
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
  </p>

 <%= link_to("フォロー数", "/users/#{@user.id}/friends") %>：<%= @friends_count %>

<% else %>
  <% if Friend.find_by(followfrom_id: current_user.id, followto_id: @user.id) %>
    <%= link_to("フォロー中", "/friends/#{@user.id}/destroy", {method: "post"}) %>
  <% else %>
    <%= link_to("フォローする", "/friends/#{@user.id}/create", {method: "post"}) %>
  <% end %>
<% end %>
