<!DOCTYPE html>
<html>
  <head>
    <title>Utagaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header-logo">
      <%=link_to("TAKAHASHI", "/") %>
    </div>
    <ul class="header-menus">
      <%=link_to("TAKAHASHIã¨ã¯", "/posts") %>
    </ul>
  </header>

  <body>
    <%= yield %>

  </body>
</html>
